<html>
<head>
<title>defaults.py</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #6a8759;}
.s3 { color: #808080;}
.s4 { color: #629755; font-style: italic;}
.s5 { color: #6897bb;}
.ln { color: #606366; font-weight: normal; font-style: normal; }
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
defaults.py</font>
</center></td></tr></table>
<pre><a name="l1"><span class="ln">1    </span></a><span class="s0">from </span><span class="s1">urllib.parse </span><span class="s0">import </span><span class="s1">quote</span>
<a name="l2"><span class="ln">2    </span></a>
<a name="l3"><span class="ln">3    </span></a><span class="s0">from </span><span class="s1">django.http </span><span class="s0">import </span><span class="s1">(</span>
<a name="l4"><span class="ln">4    </span></a>    <span class="s1">HttpResponseBadRequest</span><span class="s0">, </span><span class="s1">HttpResponseForbidden</span><span class="s0">, </span><span class="s1">HttpResponseNotFound</span><span class="s0">,</span>
<a name="l5"><span class="ln">5    </span></a>    <span class="s1">HttpResponseServerError</span><span class="s0">,</span>
<a name="l6"><span class="ln">6    </span></a><span class="s1">)</span>
<a name="l7"><span class="ln">7    </span></a><span class="s0">from </span><span class="s1">django.template </span><span class="s0">import </span><span class="s1">Context</span><span class="s0">, </span><span class="s1">Engine</span><span class="s0">, </span><span class="s1">TemplateDoesNotExist</span><span class="s0">, </span><span class="s1">loader</span>
<a name="l8"><span class="ln">8    </span></a><span class="s0">from </span><span class="s1">django.views.decorators.csrf </span><span class="s0">import </span><span class="s1">requires_csrf_token</span>
<a name="l9"><span class="ln">9    </span></a>
<a name="l10"><span class="ln">10   </span></a><span class="s1">ERROR_404_TEMPLATE_NAME = </span><span class="s2">'404.html'</span>
<a name="l11"><span class="ln">11   </span></a><span class="s1">ERROR_403_TEMPLATE_NAME = </span><span class="s2">'403.html'</span>
<a name="l12"><span class="ln">12   </span></a><span class="s1">ERROR_400_TEMPLATE_NAME = </span><span class="s2">'400.html'</span>
<a name="l13"><span class="ln">13   </span></a><span class="s1">ERROR_500_TEMPLATE_NAME = </span><span class="s2">'500.html'</span>
<a name="l14"><span class="ln">14   </span></a><span class="s1">ERROR_PAGE_TEMPLATE = </span><span class="s2">&quot;&quot;&quot; 
<a name="l15"><span class="ln">15   </span></a>&lt;!doctype html&gt; 
<a name="l16"><span class="ln">16   </span></a>&lt;html lang=&quot;en&quot;&gt; 
<a name="l17"><span class="ln">17   </span></a>&lt;head&gt; 
<a name="l18"><span class="ln">18   </span></a>  &lt;title&gt;%(title)s&lt;/title&gt; 
<a name="l19"><span class="ln">19   </span></a>&lt;/head&gt; 
<a name="l20"><span class="ln">20   </span></a>&lt;body&gt; 
<a name="l21"><span class="ln">21   </span></a>  &lt;h1&gt;%(title)s&lt;/h1&gt;&lt;p&gt;%(details)s&lt;/p&gt; 
<a name="l22"><span class="ln">22   </span></a>&lt;/body&gt; 
<a name="l23"><span class="ln">23   </span></a>&lt;/html&gt; 
<a name="l24"><span class="ln">24   </span></a>&quot;&quot;&quot;</span>
<a name="l25"><span class="ln">25   </span></a>
<a name="l26"><span class="ln">26   </span></a>
<a name="l27"><span class="ln">27   </span></a><span class="s3"># This can be called when CsrfViewMiddleware.process_view has not run,</span>
<a name="l28"><span class="ln">28   </span></a><span class="s3"># therefore need @requires_csrf_token in case the template needs</span>
<a name="l29"><span class="ln">29   </span></a><span class="s3"># {% csrf_token %}.</span>
<a name="l30"><span class="ln">30   </span></a><span class="s1">@requires_csrf_token</span>
<a name="l31"><span class="ln">31   </span></a><span class="s0">def </span><span class="s1">page_not_found(request</span><span class="s0">, </span><span class="s1">exception</span><span class="s0">, </span><span class="s1">template_name=ERROR_404_TEMPLATE_NAME):</span>
<a name="l32"><span class="ln">32   </span></a>    <span class="s4">&quot;&quot;&quot; 
<a name="l33"><span class="ln">33   </span></a>    Default 404 handler. 
<a name="l34"><span class="ln">34   </span></a> 
<a name="l35"><span class="ln">35   </span></a>    Templates: :template:`404.html` 
<a name="l36"><span class="ln">36   </span></a>    Context: 
<a name="l37"><span class="ln">37   </span></a>        request_path 
<a name="l38"><span class="ln">38   </span></a>            The path of the requested URL (e.g., '/app/pages/bad_page/'). It's 
<a name="l39"><span class="ln">39   </span></a>            quoted to prevent a content injection attack. 
<a name="l40"><span class="ln">40   </span></a>        exception 
<a name="l41"><span class="ln">41   </span></a>            The message from the exception which triggered the 404 (if one was 
<a name="l42"><span class="ln">42   </span></a>            supplied), or the exception class name 
<a name="l43"><span class="ln">43   </span></a>    &quot;&quot;&quot;</span>
<a name="l44"><span class="ln">44   </span></a>    <span class="s1">exception_repr = exception.__class__.__name__</span>
<a name="l45"><span class="ln">45   </span></a>    <span class="s3"># Try to get an &quot;interesting&quot; exception message, if any (and not the ugly</span>
<a name="l46"><span class="ln">46   </span></a>    <span class="s3"># Resolver404 dictionary)</span>
<a name="l47"><span class="ln">47   </span></a>    <span class="s0">try</span><span class="s1">:</span>
<a name="l48"><span class="ln">48   </span></a>        <span class="s1">message = exception.args[</span><span class="s5">0</span><span class="s1">]</span>
<a name="l49"><span class="ln">49   </span></a>    <span class="s0">except </span><span class="s1">(AttributeError</span><span class="s0">, </span><span class="s1">IndexError):</span>
<a name="l50"><span class="ln">50   </span></a>        <span class="s0">pass</span>
<a name="l51"><span class="ln">51   </span></a>    <span class="s0">else</span><span class="s1">:</span>
<a name="l52"><span class="ln">52   </span></a>        <span class="s0">if </span><span class="s1">isinstance(message</span><span class="s0">, </span><span class="s1">str):</span>
<a name="l53"><span class="ln">53   </span></a>            <span class="s1">exception_repr = message</span>
<a name="l54"><span class="ln">54   </span></a>    <span class="s1">context = {</span>
<a name="l55"><span class="ln">55   </span></a>        <span class="s2">'request_path'</span><span class="s1">: quote(request.path)</span><span class="s0">,</span>
<a name="l56"><span class="ln">56   </span></a>        <span class="s2">'exception'</span><span class="s1">: exception_repr</span><span class="s0">,</span>
<a name="l57"><span class="ln">57   </span></a>    <span class="s1">}</span>
<a name="l58"><span class="ln">58   </span></a>    <span class="s0">try</span><span class="s1">:</span>
<a name="l59"><span class="ln">59   </span></a>        <span class="s1">template = loader.get_template(template_name)</span>
<a name="l60"><span class="ln">60   </span></a>        <span class="s1">body = template.render(context</span><span class="s0">, </span><span class="s1">request)</span>
<a name="l61"><span class="ln">61   </span></a>        <span class="s1">content_type = </span><span class="s0">None             </span><span class="s3"># Django will use 'text/html'.</span>
<a name="l62"><span class="ln">62   </span></a>    <span class="s0">except </span><span class="s1">TemplateDoesNotExist:</span>
<a name="l63"><span class="ln">63   </span></a>        <span class="s0">if </span><span class="s1">template_name != ERROR_404_TEMPLATE_NAME:</span>
<a name="l64"><span class="ln">64   </span></a>            <span class="s3"># Reraise if it's a missing custom template.</span>
<a name="l65"><span class="ln">65   </span></a>            <span class="s0">raise</span>
<a name="l66"><span class="ln">66   </span></a>        <span class="s3"># Render template (even though there are no substitutions) to allow</span>
<a name="l67"><span class="ln">67   </span></a>        <span class="s3"># inspecting the context in tests.</span>
<a name="l68"><span class="ln">68   </span></a>        <span class="s1">template = Engine().from_string(</span>
<a name="l69"><span class="ln">69   </span></a>            <span class="s1">ERROR_PAGE_TEMPLATE % {</span>
<a name="l70"><span class="ln">70   </span></a>                <span class="s2">'title'</span><span class="s1">: </span><span class="s2">'Not Found'</span><span class="s0">,</span>
<a name="l71"><span class="ln">71   </span></a>                <span class="s2">'details'</span><span class="s1">: </span><span class="s2">'The requested resource was not found on this server.'</span><span class="s0">,</span>
<a name="l72"><span class="ln">72   </span></a>            <span class="s1">}</span><span class="s0">,</span>
<a name="l73"><span class="ln">73   </span></a>        <span class="s1">)</span>
<a name="l74"><span class="ln">74   </span></a>        <span class="s1">body = template.render(Context(context))</span>
<a name="l75"><span class="ln">75   </span></a>        <span class="s1">content_type = </span><span class="s2">'text/html'</span>
<a name="l76"><span class="ln">76   </span></a>    <span class="s0">return </span><span class="s1">HttpResponseNotFound(body</span><span class="s0">, </span><span class="s1">content_type=content_type)</span>
<a name="l77"><span class="ln">77   </span></a>
<a name="l78"><span class="ln">78   </span></a>
<a name="l79"><span class="ln">79   </span></a><span class="s1">@requires_csrf_token</span>
<a name="l80"><span class="ln">80   </span></a><span class="s0">def </span><span class="s1">server_error(request</span><span class="s0">, </span><span class="s1">template_name=ERROR_500_TEMPLATE_NAME):</span>
<a name="l81"><span class="ln">81   </span></a>    <span class="s4">&quot;&quot;&quot; 
<a name="l82"><span class="ln">82   </span></a>    500 error handler. 
<a name="l83"><span class="ln">83   </span></a> 
<a name="l84"><span class="ln">84   </span></a>    Templates: :template:`500.html` 
<a name="l85"><span class="ln">85   </span></a>    Context: None 
<a name="l86"><span class="ln">86   </span></a>    &quot;&quot;&quot;</span>
<a name="l87"><span class="ln">87   </span></a>    <span class="s0">try</span><span class="s1">:</span>
<a name="l88"><span class="ln">88   </span></a>        <span class="s1">template = loader.get_template(template_name)</span>
<a name="l89"><span class="ln">89   </span></a>    <span class="s0">except </span><span class="s1">TemplateDoesNotExist:</span>
<a name="l90"><span class="ln">90   </span></a>        <span class="s0">if </span><span class="s1">template_name != ERROR_500_TEMPLATE_NAME:</span>
<a name="l91"><span class="ln">91   </span></a>            <span class="s3"># Reraise if it's a missing custom template.</span>
<a name="l92"><span class="ln">92   </span></a>            <span class="s0">raise</span>
<a name="l93"><span class="ln">93   </span></a>        <span class="s0">return </span><span class="s1">HttpResponseServerError(</span>
<a name="l94"><span class="ln">94   </span></a>            <span class="s1">ERROR_PAGE_TEMPLATE % {</span><span class="s2">'title'</span><span class="s1">: </span><span class="s2">'Server Error (500)'</span><span class="s0">, </span><span class="s2">'details'</span><span class="s1">: </span><span class="s2">''</span><span class="s1">}</span><span class="s0">,</span>
<a name="l95"><span class="ln">95   </span></a>            <span class="s1">content_type=</span><span class="s2">'text/html'</span><span class="s0">,</span>
<a name="l96"><span class="ln">96   </span></a>        <span class="s1">)</span>
<a name="l97"><span class="ln">97   </span></a>    <span class="s0">return </span><span class="s1">HttpResponseServerError(template.render())</span>
<a name="l98"><span class="ln">98   </span></a>
<a name="l99"><span class="ln">99   </span></a>
<a name="l100"><span class="ln">100  </span></a><span class="s1">@requires_csrf_token</span>
<a name="l101"><span class="ln">101  </span></a><span class="s0">def </span><span class="s1">bad_request(request</span><span class="s0">, </span><span class="s1">exception</span><span class="s0">, </span><span class="s1">template_name=ERROR_400_TEMPLATE_NAME):</span>
<a name="l102"><span class="ln">102  </span></a>    <span class="s4">&quot;&quot;&quot; 
<a name="l103"><span class="ln">103  </span></a>    400 error handler. 
<a name="l104"><span class="ln">104  </span></a> 
<a name="l105"><span class="ln">105  </span></a>    Templates: :template:`400.html` 
<a name="l106"><span class="ln">106  </span></a>    Context: None 
<a name="l107"><span class="ln">107  </span></a>    &quot;&quot;&quot;</span>
<a name="l108"><span class="ln">108  </span></a>    <span class="s0">try</span><span class="s1">:</span>
<a name="l109"><span class="ln">109  </span></a>        <span class="s1">template = loader.get_template(template_name)</span>
<a name="l110"><span class="ln">110  </span></a>    <span class="s0">except </span><span class="s1">TemplateDoesNotExist:</span>
<a name="l111"><span class="ln">111  </span></a>        <span class="s0">if </span><span class="s1">template_name != ERROR_400_TEMPLATE_NAME:</span>
<a name="l112"><span class="ln">112  </span></a>            <span class="s3"># Reraise if it's a missing custom template.</span>
<a name="l113"><span class="ln">113  </span></a>            <span class="s0">raise</span>
<a name="l114"><span class="ln">114  </span></a>        <span class="s0">return </span><span class="s1">HttpResponseBadRequest(</span>
<a name="l115"><span class="ln">115  </span></a>            <span class="s1">ERROR_PAGE_TEMPLATE % {</span><span class="s2">'title'</span><span class="s1">: </span><span class="s2">'Bad Request (400)'</span><span class="s0">, </span><span class="s2">'details'</span><span class="s1">: </span><span class="s2">''</span><span class="s1">}</span><span class="s0">,</span>
<a name="l116"><span class="ln">116  </span></a>            <span class="s1">content_type=</span><span class="s2">'text/html'</span><span class="s0">,</span>
<a name="l117"><span class="ln">117  </span></a>        <span class="s1">)</span>
<a name="l118"><span class="ln">118  </span></a>    <span class="s3"># No exception content is passed to the template, to not disclose any sensitive information.</span>
<a name="l119"><span class="ln">119  </span></a>    <span class="s0">return </span><span class="s1">HttpResponseBadRequest(template.render())</span>
<a name="l120"><span class="ln">120  </span></a>
<a name="l121"><span class="ln">121  </span></a>
<a name="l122"><span class="ln">122  </span></a><span class="s3"># This can be called when CsrfViewMiddleware.process_view has not run,</span>
<a name="l123"><span class="ln">123  </span></a><span class="s3"># therefore need @requires_csrf_token in case the template needs</span>
<a name="l124"><span class="ln">124  </span></a><span class="s3"># {% csrf_token %}.</span>
<a name="l125"><span class="ln">125  </span></a><span class="s1">@requires_csrf_token</span>
<a name="l126"><span class="ln">126  </span></a><span class="s0">def </span><span class="s1">permission_denied(request</span><span class="s0">, </span><span class="s1">exception</span><span class="s0">, </span><span class="s1">template_name=ERROR_403_TEMPLATE_NAME):</span>
<a name="l127"><span class="ln">127  </span></a>    <span class="s4">&quot;&quot;&quot; 
<a name="l128"><span class="ln">128  </span></a>    Permission denied (403) handler. 
<a name="l129"><span class="ln">129  </span></a> 
<a name="l130"><span class="ln">130  </span></a>    Templates: :template:`403.html` 
<a name="l131"><span class="ln">131  </span></a>    Context: None 
<a name="l132"><span class="ln">132  </span></a> 
<a name="l133"><span class="ln">133  </span></a>    If the template does not exist, an Http403 response containing the text 
<a name="l134"><span class="ln">134  </span></a>    &quot;403 Forbidden&quot; (as per RFC 7231) will be returned. 
<a name="l135"><span class="ln">135  </span></a>    &quot;&quot;&quot;</span>
<a name="l136"><span class="ln">136  </span></a>    <span class="s0">try</span><span class="s1">:</span>
<a name="l137"><span class="ln">137  </span></a>        <span class="s1">template = loader.get_template(template_name)</span>
<a name="l138"><span class="ln">138  </span></a>    <span class="s0">except </span><span class="s1">TemplateDoesNotExist:</span>
<a name="l139"><span class="ln">139  </span></a>        <span class="s0">if </span><span class="s1">template_name != ERROR_403_TEMPLATE_NAME:</span>
<a name="l140"><span class="ln">140  </span></a>            <span class="s3"># Reraise if it's a missing custom template.</span>
<a name="l141"><span class="ln">141  </span></a>            <span class="s0">raise</span>
<a name="l142"><span class="ln">142  </span></a>        <span class="s0">return </span><span class="s1">HttpResponseForbidden(</span>
<a name="l143"><span class="ln">143  </span></a>            <span class="s1">ERROR_PAGE_TEMPLATE % {</span><span class="s2">'title'</span><span class="s1">: </span><span class="s2">'403 Forbidden'</span><span class="s0">, </span><span class="s2">'details'</span><span class="s1">: </span><span class="s2">''</span><span class="s1">}</span><span class="s0">,</span>
<a name="l144"><span class="ln">144  </span></a>            <span class="s1">content_type=</span><span class="s2">'text/html'</span><span class="s0">,</span>
<a name="l145"><span class="ln">145  </span></a>        <span class="s1">)</span>
<a name="l146"><span class="ln">146  </span></a>    <span class="s0">return </span><span class="s1">HttpResponseForbidden(</span>
<a name="l147"><span class="ln">147  </span></a>        <span class="s1">template.render(request=request</span><span class="s0">, </span><span class="s1">context={</span><span class="s2">'exception'</span><span class="s1">: str(exception)})</span>
<a name="l148"><span class="ln">148  </span></a>    <span class="s1">)</span>
<a name="l149"><span class="ln">149  </span></a></pre>
</body>
</html>