<html>
<head>
<title>openlayers-osm.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #a9b7c6;}
.ln { color: #606366; font-weight: normal; font-style: normal; }
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
openlayers-osm.html</font>
</center></td></tr></table>
<pre><a name="l1"><span class="ln">1    </span></a><span class="s0">{% extends &quot;gis/openlayers.html&quot; %}</span>
<a name="l2"><span class="ln">2    </span></a><span class="s0">{% load l10n %}</span>
<a name="l3"><span class="ln">3    </span></a>
<a name="l4"><span class="ln">4    </span></a><span class="s0">{% block options %}{{ block.super }}</span>
<a name="l5"><span class="ln">5    </span></a><span class="s0">options['default_lon'] = {{ default_lon|unlocalize }};</span>
<a name="l6"><span class="ln">6    </span></a><span class="s0">options['default_lat'] = {{ default_lat|unlocalize }};</span>
<a name="l7"><span class="ln">7    </span></a><span class="s0">options['default_zoom'] = {{ default_zoom|unlocalize }};</span>
<a name="l8"><span class="ln">8    </span></a><span class="s0">{% endblock %}</span>
<a name="l9"><span class="ln">9    </span></a>
<a name="l10"><span class="ln">10   </span></a><span class="s0">{% block base_layer %}</span>
<a name="l11"><span class="ln">11   </span></a><span class="s0">var base_layer = new ol.layer.Tile({source: new ol.source.OSM()});</span>
<a name="l12"><span class="ln">12   </span></a><span class="s0">{% endblock %}</span>
<a name="l13"><span class="ln">13   </span></a></pre>
</body>
</html>